<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="title">{{ title }}</h1>
      <hr />
      <!-- add my app server element -->
      <!-- as a element and is recognized by angular -->
      <!-- <app-server></app-server>
      <app-servers></app-servers> -->
      <!-- ************************* -->
      <!-- <div app-servers></div> -->
      <!-- Angular selects the element by attribute and not by the element itself -->
      <!-- **************************** -->
      <!-- <div class="app-servers"></div> -->
      <!-- <app-assignment1></app-assignment1>
      <app-assignment2></app-assignment2> -->
      <app-assignment3></app-assignment3>
    </div>
  </div>
</div>
